<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
{% for item in items %}
    <div class="box">
        <div class="boxInner">
            <a href="{{ publicUrl(item) }}"><img src="{{ publicUrl(item, 300, 300) }}" /></a>
        </div>
    </div>
{%  endfor %}